* {
  margin: 0;
  padding: 0;
}
body {
  
  background-color: #91cbde;
  display: grid;
  place-content: center;
  min-height: 100vh;
  
}
.container {
  height: 680px;
  width: 400px;

  background-image:url('../images/back2.png');
  background-size: 600px 280px;
  background-repeat: no-repeat;






  /* background-image:url('../images/back1.jpg');
  background-size: 400px 1050px;
  background-repeat: no-repeat; */
  display: flex;
  flex-direction: column;
  background-color: #b6b2b2;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  align-items: center;

  border: 3px solid #d30707;

  
}
.avatar {
  width: 100px;
  height: 100px;
  
  border-radius: 100%;
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.5);
  margin: 2rem 0 1rem;
}

.container select {
  display: flex;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  font-size: 14px;
  position: relative;
  border: 2px solid #d30707;
  text-align: center;
  margin-top: 10px;
}

.container hr {
  margin: 0;
  width: 0%;
  border: 1px solid #6666;

 
}
.container h2{
  
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.container h3{  
  color: aliceblue;
  flex-direction: column;
  align-items: left;
  padding: 6px;
}

.container ul {
  /**background-color: #dddddd;**/
 
  color: #201b1b;
  padding: 2rem;
  border-radius: 10px;
  /* border: 2px solid #6666; */
  outline: none;
  padding-bottom:9rem;
 
}


.container_rodape {
  display:block;
  flex-basis: content;
  background-color: aliceblue;
  background-image:url('../images/back_rodape1.png');
  /* background-size: 500px 500px; */
  background-repeat: no-repeat;
  width: 100%;
  height: 26.1rem;

}
.overflow {
  display: block;
  flex-direction: column;
  overflow: auto;
  
  max-block-size: 15rem;
  
  
}

/* iPhone 5 */
@media(max-width: 320px){
  .container {
    height: 480px;
    width: 280px;
    
  }
  .avatar {
    width: 60px;
    height: 60px;
  }
  .container select {
    width: 235px;
    font-size: 10px;
  }

  .container hr {
    margin: 0.5rem;
    padding: 0;
    width: 50%;
    border: 1px solid #6666;
    
  }

  .container h2 {
    font-size: 15px;
    align-items: center;
    padding: 0px;
    margin: 0;
  }

  .container h3 {
    margin: 0;
    padding: 0;
    font-size: 15px;
  }

  .container ul {
    display: flex;
    flex-direction: column;
    
    margin: 0;
    padding: 1rem;
    
  }
  .container_rodape {
    
    display: flex;
    flex-direction: column;
    
    height: 180px;
    width: 280px;
  }
}

/* Switch 1280 x 720 */
  @media(width: 1280px){
  .container {
    height: 480px;
    width: 280px;
  }
}